@import 'tailwindcss';
@import '@neondatabase/neon-js/ui/tailwind';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --background: oklch(95.58% 0.007 277.16);
  --foreground: oklch(17.08% 0.015 278.37);
  --card: oklch(100% 0 0);
  --card-foreground: oklch(17.08% 0.015 278.37);
  --popover: oklch(100% 0 0);
  --popover-foreground: oklch(17.08% 0.015 278.37);
  --primary: oklch(53.44% 0.085 277.47);
  --primary-foreground: oklch(95.58% 0.007 277.16);
  --secondary: oklch(91.14% 0.015 277.84);
  --secondary-foreground: oklch(19.91% 0.022 276.21);
  --muted: oklch(91.14% 0.015 277.84);
  --muted-foreground: oklch(45.68% 0.070 278.15);
  --accent: oklch(91.14% 0.015 277.84);
  --accent-foreground: oklch(19.91% 0.022 276.21);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(82.14% 0.030 279.26);
  --input: oklch(82.14% 0.030 279.26);
  --ring: oklch(53.44% 0.085 277.47);
  --chart-1: oklch(53.44% 0.085 277.47);
  --chart-2: oklch(72.67% 0.048 279.69);
  --chart-3: oklch(45.68% 0.070 278.15);
  --chart-4: oklch(63.20% 0.065 279.21);
  --chart-5: oklch(37.53% 0.057 278);
  --radius: 0.625rem;
  --sidebar: oklch(19.91% 0.022 276.21);
  --sidebar-foreground: oklch(95.58% 0.007 277.16);
  --sidebar-primary: oklch(53.44% 0.085 277.47);
  --sidebar-primary-foreground: oklch(95.58% 0.007 277.16);
  --sidebar-accent: oklch(29.20% 0.039 277.47);
  --sidebar-accent-foreground: oklch(95.58% 0.007 277.16);
  --sidebar-border: oklch(37.53% 0.057 278);
  --sidebar-ring: oklch(53.44% 0.085 277.47);
}

.dark {
  --background: oklch(17.08% 0.015 278.37);
  --foreground: oklch(95.58% 0.007 277.16);
  --card: oklch(19.91% 0.022 276.21);
  --card-foreground: oklch(95.58% 0.007 277.16);
  --popover: oklch(19.91% 0.022 276.21);
  --popover-foreground: oklch(95.58% 0.007 277.16);
  --primary: oklch(63.20% 0.065 279.21);
  --primary-foreground: oklch(17.08% 0.015 278.37);
  --secondary: oklch(29.20% 0.039 277.47);
  --secondary-foreground: oklch(95.58% 0.007 277.16);
  --muted: oklch(29.20% 0.039 277.47);
  --muted-foreground: oklch(63.20% 0.065 279.21);
  --accent: oklch(29.20% 0.039 277.47);
  --accent-foreground: oklch(95.58% 0.007 277.16);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(29.20% 0.039 277.47);
  --input: oklch(29.20% 0.039 277.47);
  --ring: oklch(63.20% 0.065 279.21);
  --chart-1: oklch(63.20% 0.065 279.21);
  --chart-2: oklch(72.67% 0.048 279.69);
  --chart-3: oklch(53.44% 0.085 277.47);
  --chart-4: oklch(82.14% 0.030 279.26);
  --chart-5: oklch(45.68% 0.070 278.15);
  --sidebar: oklch(19.91% 0.022 276.21);
  --sidebar-foreground: oklch(95.58% 0.007 277.16);
  --sidebar-primary: oklch(63.20% 0.065 279.21);
  --sidebar-primary-foreground: oklch(95.58% 0.007 277.16);
  --sidebar-accent: oklch(29.20% 0.039 277.47);
  --sidebar-accent-foreground: oklch(95.58% 0.007 277.16);
  --sidebar-border: oklch(37.53% 0.057 278);
  --sidebar-ring: oklch(63.20% 0.065 279.21);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  button,
  a,
  [role="button"] {
    @apply cursor-pointer;
  }
}
